/* /* 
  /* /* /* li {
    border: 2px solid blue;
  }
  span,
#word1 {
  border: 2px solid rgb(157, 255, 0);
} */

/* #word2 {
  display: inline-flex;
  list-style: none;
  padding: 0;
}    */
/* 
.links-list a {
    background-color: rgb(179,57,81);
    /* display: inline-flex; */ 
    /* color: #fff;
    border : 2px solid black;
    text-decoration: none;
    padding: 1em 2em;
  } */
/*   
  .links-list a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
  }
      
.links-list1 a {
    background-color: rgb(179,57,81);
    
    display: inline-flex; */
    /* list-style: none; */ 
    /* /* display: inline-block;
  margin: 0 10px;
    height: 100px; */

/*    
    border : 2px solid black;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
  }
  
  .links-list1 a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
  }
      */ 
      .all {
        /* background-image: url(''); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

.quest {
  color : white
}


      #puzzel {
        width:100%;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border: 1px solid black;
    }
    #cross{
        text-align: center;
        color : white ;
        width:30px;
        height:30px;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border: 1px solid rgb(2, 2, 2);
    }
    
    
    #buttons{
        width:30%;
        float: right;
    
    }
    tr{
        margin: 0;
        padding: 0;
        border-collapse: collapse;
    }
    #leftBox{
        float: left;
        width:50%
        height: 50%;
    }
    #rightBox{
        float: left;
    }
    #butt{
        width: 100px;
        padding:20px;
    }
    table{
        padding:20px;
    }
    